body {
    margin: 0;
    text-align: center;
}

.section {
    width: 100%;
    text-align: center;
}

/* MAIN TEXT */

.main-text {
    font-family: Garamond, serif;
    font-size: 14px;
    color: #000000;
    line-height: 2;
}

/* SUBTEXT */

.sub-text {
    font-family: Garamond, serif;
    font-size: 12px;
    color: #777777;
    line-height: 1.5;
}

/* ACCENT TEXT */

.accent-text {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    font-weight:700;
    color: #C4AB46;
    line-height: 1;
}

/* OTHER TEXT */

.italic-text {
    font-family: Garamond, serif;
    font-style: italic;
    font-size: 12px;
    color: #859274;
    line-height: 1.5;
}

.gold-text {
    font-family: Garamond, serif;
    font-size: 12px;
    color: #C4AB46;
    line-height: 1.5;
}

.and-image {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.button-image {
    width: 200px;
    height: auto;
}

.logo-image {
    width: 120px;
    height: auto;
}

.hero-image {
    width: 90%;
    max-width: 300px;
    height: auto;
}

.name-image {
    width: 50%;
    max-width: 200px;
    height: auto;
}

.dua2-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.home-page,
.nikaah-page,
.wedding-page {
    background-image: url("home-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
